{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'Messenger/styles/index.css' %}", type='text/css', rel='stylesheet'>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>
<body>
    <div id="contact-list-heading">
        <h1 class='heading'>Contacts</h1>
    </div>
    <div id='message-tab-heading'>
        <h1 class='heading'>Messages</h1>
    </div>
    <div id="contact-list">
        {% if clients %}
            {% for client in clients %}
            <button class='contact-button'>
                <div class="logo-container">
                    <img src="{% static 'Messenger/images/userlogo.png' %}" class='user-logo'>
                </div>
                <div class='client-info-container'>
                    <h1>{{client.first_name}} {{client.last_name}}</h1>
                </div>
            </button>
            {% endfor %}
        {% else %}
            <h1>No clients found</h1>
        {% endif %}
    </div>
    <div id='message-tab'>
    </div>
    {{ clients|json_script:"client-data" }}
    <script src="{% static 'Messenger/scripts/index.js' %}"></script>
</body>
</html>