
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.menu {
    height: 30%;
    width: 40%;
    background-color: rgba(128, 128, 128, 0.6);
    display: flex;
    justify-content: space-around;
    flex-direction: column;   
    margin-bottom: 10%;
    border: 2px solid black;
    padding: 2%;
}

h1 {
    text-align: center;
    font-size: 50px;
}

button {
    display: flex;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-family: 'Tahoma';
    font-size: 15px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

a {
    text-decoration: none;
}

.button-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 30px;
}