html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.heading {
    color: white;
    text-align: center;
    font-size: 50px;
    width: 100%;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 43, 59, 0.7);
    border: 1px solid white;
    border-bottom: none;
}

.menu {
    margin: 80px auto;
    height: fit-content;
    width: 40%;
}

button {
    width: 200px;
    height: 3em;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: white;
}

button:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
}

a {
    text-decoration: none;
}


.checkbox-container {
    display: grid;
    grid-template-columns: 50px auto;
    gap: 10px;
    column-gap: 40px;
}

input {
    width: 50px;
    height: 50px;
}

label {
    color: white;
    font-size: 25px;
}

.flex-container {
    padding: 20px 0 20px 0;
    background-color: rgba(0, 43, 59, 0.7);
    display: flex;
    align-items: center;
    border: 1px solid white;
    justify-content: center;
    width: 100%;
}

.submit {
    margin: 0 auto;
    display: block;
    width: 400px;
    height: 3em;
    font-size: 25px;
    background-color: rgba(0, 43, 59, 0.7);
    margin-bottom: 20px;
}

.return {
    margin: 10px 10px;
}