{% load static %}
<!DOCTYPE>
<html>
    <head>
        <link rel='stylesheet' type='text/css' href="{% static 'Distribute/styles/selectclients.css' %}">
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    </head>
    <body style="background-image: url('{% static 'Distribute/images/bluejohn.jpg' %}'); background-size: cover;">
        <a href="{% url 'Distribute:index' %}"><button class='return'>Return</button></a>
        <div class='menu'>
            <h1 class='heading'>Select Clients</h1>
            {% if clients %}
            <form id='client-form' method='post'>
                {% csrf_token %}
                <div class='flex-container'>
                    <div class='checkbox-container'>
                    {% for client in clients %}
                        <input type='checkbox' id='{{ client.id }}' name='client-checkbox' value='{{ client.id }}'>
                        <label for='{{ client.id }}'> {{client}} </label>
                    {% endfor %}
                    </div>
                </div>
            </form>
            {% else %}
            <p>No clients found.</p>
            {% endif %}
        </div>
        {% if clients %}
        <button type='submit' form='client-form' class='submit'>Submit</button>
        {% endif %}
    </body>
</html>